.finalDarkChild {
  width: 1441.5px;
  height: 953.5px;
  position: absolute;
  margin: 0 !important;
  top: 231px;
  left: -1px;
  border-radius: var(--br-5xl);
}
.frameChild,
.headerIcon {
  max-width: 100%;
  overflow: hidden;
}
.headerIcon {
  width: 100%;
  height: 716.5px;
  position: absolute;
  margin: 0 !important;
  top: 1687px;
  right: 0;
  left: 0;
  border-radius: var(--br-5xl);
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  height: 857.5px;
  flex: 1;
  position: relative;
  z-index: 2;
}
.hypermoveGamesIs {
  height: 42px;
  width: 1110px;
  top: 173px;
  left: calc(50% - 555px);
  display: inline-block;
  opacity: 0;
  z-index: 7;
}
.dividerIcon,
.hypermove,
.hypermoveGamesIs {
  position: absolute;
  margin: 0 !important;
}
.hypermove {
  height: 123px;
  width: 968px;
  top: 218px;
  left: 197px;
  font-size: 95.9px;
  text-transform: uppercase;
  font-weight: 900;
  color: transparent;
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1.9px transparent;
  opacity: 0.3;
  z-index: 5;
}
.dividerIcon {
  height: 18px;
  width: 438px;
  top: 173px;
  right: 0;
  border-radius: var(--br-13xl);
  z-index: 8;
}
.hypermove2 {
  font-family: var(--font-abel);
}
.hypermove1,
.span {
  color: var(--color-aquamarine);
}
.blankLine,
.hypermoveSeamlesslyIntegrate {
  display: block;
}
.ourMissionIsToElevateThe {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.hypermoveSeamlesslyIntegrateContainer {
  margin: 0 !important;
  width: 509px;
  position: absolute;
  bottom: 315.5px;
  left: 219px;
  line-height: 18px;
  display: inline-block;
  min-height: 168px;
  z-index: 7;
  color: var(--color-gray-400);
}
.frameParent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 299px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-abel);
}
.headerIcon1,
.headerIcon2,
.headerIcon3 {
  margin: 0 !important;
  right: 0;
  max-width: 100%;
  overflow: hidden;
}
.headerIcon1 {
  width: 100%;
  height: 370.5px;
  position: absolute;
  top: 2005px;
  left: 0;
  border-radius: var(--br-base);
  flex-shrink: 0;
  object-fit: contain;
  z-index: 3;
}
.headerIcon2,
.headerIcon3 {
  z-index: 4;
}
.headerIcon2 {
  width: 100%;
  height: 85.5px;
  position: absolute;
  top: 2005px;
  left: 0;
  border-radius: var(--br-base);
  flex-shrink: 0;
  object-fit: contain;
}
.headerIcon3 {
  height: 219px;
  top: 2297px;
}
.headerIcon3,
.headerIcon4,
.headerIcon5,
.wrapperHeader {
  width: 100%;
  position: absolute;
  left: 0;
  flex-shrink: 0;
}
.headerIcon4 {
  height: 76px;
  margin: 0 !important;
  top: 2297px;
  right: 0;
  border-radius: var(--br-13xl);
  max-width: 100%;
  overflow: hidden;
  z-index: 5;
}
.headerIcon5,
.wrapperHeader {
  z-index: 6;
}
.headerIcon5 {
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  top: -14px;
  transform: scale(1.121);
}
.wrapperHeader {
  height: 863px;
  margin: 0 !important;
  top: 707px;
  right: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlightIcon {
  height: 523.5px;
  flex: 1;
  position: relative;
  border-radius: var(--br-13xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 5;
}
.worldsFirst {
  margin: 0 !important;
  width: 271px;
  position: absolute;
  bottom: 223.5px;
  left: calc(50% - 135.5px);
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 6;
}
.fpsGaming {
  color: var(--color-aquamarine);
}
.onBitcoin,
.platform {
  background: linear-gradient(180deg, #fff, #898989);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 103px;
}
.fpsGamingPlatformContainer {
  height: 121px;
  width: 900px;
  position: absolute;
  margin: 0 !important;
  bottom: 70.5px;
  left: calc(50% - 450px);
  line-height: 79%;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  z-index: 6;
  font-size: var(--font-size-29xl);
}
.platformDescription {
  margin: 0 !important;
  top: -99px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-abel);
}
.headerIcon6,
.platformDescription,
.rightContentIcon {
  width: 100%;
  position: absolute;
  left: 0;
}
.headerIcon6 {
  height: 478.5px;
  margin: 0 !important;
  top: 706.5px;
  right: 0;
  border-radius: var(--br-13xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 9;
}
.rightContentIcon {
  height: 100%;
  z-index: 7;
  object-fit: contain;
  top: 0;
  transform: scale(1.247);
}
.wrapperRightContent {
  width: 1410px;
  height: 372px;
  position: absolute;
  margin: 0 !important;
  top: 1285px;
  left: calc(50% - 705px);
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewVariantsButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.viewAllVariants {
  position: absolute;
  top: 9.3px;
  left: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 104px;
  z-index: 8;
}
.viewVariantsButton {
  width: 142px;
  height: 33.9px;
  position: relative;
}
.hyperVariants {
  margin: 0;
  align-self: stretch;
  height: 41px;
  position: relative;
  font-size: var(--font-size-13xl);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-abel);
  color: var(--color-white);
  text-align: right;
  display: inline-block;
  z-index: 7;
}
.variantsHeader {
  width: 879px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 4.7px;
  max-width: 100%;
}
.inOurWorld {
  margin: 0;
  height: 54px;
  flex: 1;
  position: relative;
  line-height: 16.67px;
  display: inline-block;
  min-width: 558px;
  min-height: 54px;
  max-width: 100%;
  z-index: 7;
}
.sliderItemsChild,
.sliderItemsItem {
  position: absolute;
  top: 8px;
  left: 0;
  width: 1px;
  height: 2px;
}
.sliderItemsItem {
  top: 0;
  left: 10.3px;
  height: 10px;
}
.sliderItems {
  height: 10px;
  width: 11.3px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.sliderItemsIcon,
.sliderItemsIcon1,
.sliderItemsIcon2 {
  width: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.sliderItemsIcon {
  height: 21px;
  left: 20.7px;
}
.sliderItemsIcon1,
.sliderItemsIcon2 {
  height: 30px;
  right: 30px;
}
.sliderItemsIcon2 {
  height: 41px;
  right: 19.7px;
}
.sliderItemsInner,
.vectorIcon {
  height: 51px;
  width: 1px;
  position: relative;
}
.vectorIcon {
  height: 60px;
}
.imageSlider,
.sliderItems1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.sliderItems1 {
  justify-content: flex-start;
  gap: 9.3px;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.imageSlider {
  align-self: stretch;
  justify-content: space-between;
  position: relative;
  gap: var(--gap-xl);
  z-index: 6;
}
.variantImages {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 0 0;
  box-sizing: border-box;
}
.variantsDescription {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 33px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-abel);
}
.variantsContainer,
.variantsDescription,
.variantsWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.variantsWrapper {
  width: 974px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.variantsContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.hypeToken {
  flex: 1;
  position: relative;
  line-height: 0%;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  text-shadow: 1.6px 0 0 transparent, 0 1.6px 0 transparent,
    -1.6px 0 0 transparent, 0-1.6px 0 transparent;
  max-width: 100%;
  z-index: 5;
}
.hypeServesAs {
  margin: 0 !important;
  width: 494px;
  position: absolute;
  right: -308px;
  bottom: 39px;
  font-size: var(--font-size-sm);
  line-height: 16.67px;
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  min-height: 72px;
  z-index: 6;
}
.tokenContent,
.tokenDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tokenDescription {
  flex: 1;
  position: relative;
}
.tokenContent {
  width: 739px;
  padding: 0 47px;
  box-sizing: border-box;
}
.holdingToken {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 0%;
  text-transform: uppercase;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 9;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  width: 100%;
  height: 100%;
}
.image15Icon {
  position: absolute;
  top: 100px;
  left: 0;
  width: 72px;
  height: 72px;
  object-fit: contain;
  z-index: 1;
}
.image14Icon,
.vectorParent {
  position: absolute;
  top: 105px;
  left: 0;
  width: 401px;
  height: 171px;
}
.image14Icon {
  top: 0;
  left: 72px;
  width: 118px;
  height: 118px;
  object-fit: contain;
  z-index: 10;
}
.benefitIllustrations {
  height: 276px;
  width: 401px;
  position: absolute;
  margin: 0 !important;
  right: -90px;
  bottom: -88px;
}
.benefitItem {
  width: 556px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.stakeIcon,
.stakingIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.stakeIcon {
  top: 386px;
  left: 218px;
  width: 99px;
  height: 183px;
  object-fit: contain;
  z-index: 6;
}
.stakingContent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 334px;
}
.image16Icon {
  object-fit: contain;
  transform: scale(1.992);
}
.image13Icon,
.image16Icon,
.wrapperImage16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapperImage16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image13Icon {
  object-fit: cover;
  z-index: 8;
}
.stakeIllustration,
.stakingBenefits {
  position: absolute;
  top: 46px;
  left: 70px;
  width: 450px;
  height: 450px;
}
.stakingBenefits {
  height: 614px;
  width: 520px;
  margin: 0 !important;
  top: -338.5px;
  left: -295px;
}
.secureLongTerm,
.stakeHype {
  margin: 0;
  position: relative;
  display: inline-block;
}
.stakeHype {
  width: 149px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(
    265.94deg,
    #5127dd,
    #0b061f 27.57%,
    #5629ea 49.57%,
    #f433ff 71.44%,
    #ffd2a2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secureLongTerm {
  align-self: stretch;
  height: 72px;
  line-height: 16.67px;
  text-align: left;
  min-height: 72px;
}
.wrapperRectangle40369Child {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 11px;
  transform: scale(1.601);
}
.wrapperRectangle40369 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-13xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stakeImageContainerChild {
  position: absolute;
  top: 51.5px;
  left: 24px;
  border-radius: var(--br-10xl);
  background-color: var(--color-gainsboro-100);
  width: 26px;
  height: 26px;
  z-index: 1;
}
.stakeImageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.stakeDescription,
.stakeInfo {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.stakeInfo {
  width: 342px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 81.5px var(--padding-xl) var(--padding-5xl) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  z-index: 2;
}
.stakeDescription {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.benefitContainer,
.stakingBenefitsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.stakingBenefitsParent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.benefitContainer {
  flex: 1;
  flex-direction: column;
  gap: 41.5px;
}
.wrapperRectangle40381,
.wrapperRectangle40381Child {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1;
}
.wrapperRectangle40381Child {
  overflow: hidden;
  object-fit: contain;
  top: 11px;
  transform: scale(1.63);
}
.wrapperRectangle40381 {
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-13xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marketplaceImage {
  position: absolute;
  top: 24px;
  left: 302px;
  border-radius: var(--br-10xl);
  background-color: var(--color-gainsboro-100);
  width: 26px;
  height: 26px;
  z-index: 2;
}
.marketplaceDescription {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nftMarketplace,
.useHypeTokens {
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.nftMarketplace {
  width: 212px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(
    265.94deg,
    #5127dd,
    #0b061f 27.57%,
    #5629ea 49.57%,
    #f433ff 71.44%,
    #ffd2a2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.useHypeTokens {
  width: 294px;
  height: 90px;
  line-height: 16.67px;
  min-height: 90px;
}
.marketplaceContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-5xl) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xs);
}
.marketplaceContentWrapper,
.tokenBenefits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.marketplaceContentWrapper {
  width: 352px;
  flex-direction: column;
  padding: var(--padding-16xl) 0 0;
  box-sizing: border-box;
  min-width: 352px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.tokenBenefits {
  align-self: stretch;
  flex-direction: row;
  gap: 6px;
  font-size: 64px;
  color: var(--color-white);
}
.tokenContentParent {
  width: 969px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-71xl-7);
  color: rgba(0, 0, 0, 0.3);
  font-family: var(--font-abel);
}
.tokenContentParent,
.variantsContent,
.variantsContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.variantsContent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.variantsContentWrapper {
  width: 1116px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12.5px;
  color: var(--color-aquamarine);
  font-family: var(--font-montserrat);
}
.ecosystemIcon {
  height: 434.5px;
  width: 1384px;
  position: absolute;
  margin: 0 !important;
  bottom: -163.9px;
  left: -975px;
  border-radius: 28px;
}
.ecosystemContentIcon {
  height: 225.6px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.ecosystemIconParent {
  width: 438.6px;
  margin: 0 !important;
  position: absolute;
  top: 4359px;
  left: 1006px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contributionHeaderIcon {
  align-self: stretch;
  height: 40px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.contributingTo,
.ecosystem {
  margin: 0;
}
.contributingToEcosystemContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 86.2%;
  text-transform: uppercase;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.contributionHeaderParent,
.contributionTitle,
.rewardsContentParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contributionTitle {
  flex-direction: row;
  padding: 0 34px;
  box-sizing: border-box;
}
.contributionHeaderParent,
.rewardsContentParent {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.contributionHeaderParent {
  padding: 0 0 40.1px;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-abel);
}
.wrapperRectangle40390,
.wrapperRectangle40390Child {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 2;
}
.wrapperRectangle40390Child {
  overflow: hidden;
  object-fit: contain;
  top: 11px;
  transform: scale(1.693);
}
.wrapperRectangle40390 {
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-13xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tournamentEsportsImage1 {
  position: absolute;
  top: 24px;
  left: 302px;
  border-radius: var(--br-10xl);
  background-color: var(--color-gainsboro-100);
  width: 26px;
  height: 26px;
  z-index: 3;
}
.tournamentEsportsImage {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tournamentAndEsports {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(
    265.94deg,
    #5127dd,
    #0b061f 27.57%,
    #5629ea 49.57%,
    #f433ff 71.44%,
    #ffd2a2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}
.gainAccessTo {
  margin: 0;
  width: 294px;
  height: 72px;
  position: relative;
  line-height: 16.67px;
  display: inline-block;
  min-height: 72px;
  z-index: 3;
}
.tournamentEsportsImageParent {
  width: 352px;
  margin: 0 !important;
  position: absolute;
  right: 152px;
  bottom: 1850px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.headerChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.3px;
  bottom: 0;
  border-radius: var(--br-base);
  max-height: 100%;
  transform: rotate(-180deg);
}
.frameInner {
  height: 33px;
  width: 58px;
  border-radius: var(--br-5xs);
  object-fit: contain;
  transform: rotate(-180deg);
}
.frameInner,
.rewardName,
.x3 {
  position: relative;
}
.rewardName {
  align-self: stretch;
}
.x3 {
  width: 13px;
  display: flex;
  align-items: flex-end;
  min-width: 13px;
}
.rewardNameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  opacity: 0.9;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs-5) 0 0;
}
.frameWrapper,
.headerInner,
.vectorGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xs);
  z-index: 1;
}
.headerInner {
  width: 124px;
  flex-direction: column;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.headshotKills {
  height: 26px;
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  transform: rotate(180deg);
  z-index: 1;
  margin: 0 0 0-70px;
}
.finalDark,
.header {
  display: flex;
  justify-content: flex-start;
}
.header {
  margin: 0 !important;
  position: absolute;
  right: -133px;
  bottom: 1135px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-lg) var(--padding-4xs) var(--padding-5xs)
    var(--padding-lg);
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 2;
  font-size: var(--font-size-6xs);
  color: var(--color-white);
}
.finalDark {
  width: 100%;
  position: relative;
  border-radius: var(--br-13xl);
  background: linear-gradient(180deg, rgba(1, 0, 1, 0) 51.91%, #010001 69.15%),
    #000513;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 51px 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 42px;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-abel);
}
@media screen and (max-width: 800px) {
  .hypermove {
    font-size: var(--font-size-29xl);
  }
  .fpsGamingPlatformContainer {
    font-size: var(--font-size-19xl);
    line-height: 65px;
  }
  .hyperVariants {
    font-size: var(--font-size-7xl);
  }
  .inOurWorld {
    min-width: 100%;
  }
  .variantsDescription {
    gap: var(--gap-base);
  }
  .hypeToken {
    font-size: var(--font-size-26xl);
  }
  .tokenContent {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .holdingToken {
    font-size: 51px;
  }
  .benefitContainer {
    gap: var(--gap-2xl);
  }
  .marketplaceContentWrapper {
    flex: 1;
  }
  .tokenBenefits {
    flex-wrap: wrap;
  }
  .variantsContent {
    gap: var(--gap-3xl);
  }
  .contributingToEcosystemContainer {
    font-size: var(--font-size-19xl);
    line-height: 33px;
  }
  .rewardsContentParent {
    gap: var(--gap-base);
  }
  .contributionHeaderParent {
    gap: var(--gap-13xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .finalDark {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .hypermove {
    font-size: var(--font-size-10xl);
  }
  .worldsFirst {
    font-size: var(--font-size-lgi);
  }
  .fpsGamingPlatformContainer {
    font-size: var(--font-size-10xl);
    line-height: 49px;
  }
  .hyperVariants {
    font-size: var(--font-size-lgi);
  }
  .hypeToken {
    font-size: var(--font-size-8xl);
  }
  .holdingToken {
    font-size: var(--font-size-19xl);
  }
  .benefitContainer,
  .marketplaceContentWrapper {
    min-width: 100%;
  }
  .contributingToEcosystemContainer {
    font-size: var(--font-size-10xl);
    line-height: 25px;
  }
  .contributionHeaderParent {
    gap: var(--gap-base);
  }
  .headshotKills {
    font-size: var(--font-size-base);
  }
}
