.rewardName,
.x3 {
  height: 9px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.rewardName {
  align-self: stretch;
}
.x3 {
  width: 13px;
}
.rewardContainer,
.rewardDetails {
  display: flex;
  justify-content: flex-start;
}
.rewardDetails {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0.5;
  z-index: 1;
}
.rewardContainer {
  width: 84px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.rewardButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rewardButtonItem {
  position: absolute;
  top: 8px;
  left: 7.5px;
  border-radius: var(--br-5xs);
  width: 58px;
  height: 33px;
  object-fit: contain;
  z-index: 1;
}
.rewardButton {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.referAFriend,
.rewardItem {
  align-self: stretch;
  position: relative;
}
.referAFriend {
  margin: 0;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-200);
  z-index: 1;
}
.rewardItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) var(--padding-lg) var(--padding-lg)
    var(--padding-39xl);
  gap: var(--gap-xs-5);
}
.claimButtonContainerChild {
  position: absolute;
  top: 0;
  left: 5px;
  width: 170px;
  height: 39px;
  object-fit: contain;
}
.claim {
  margin: 0;
  position: absolute;
  top: 8px;
  left: 53px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(90deg, #00ffd1, #8062ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.claimButtonContainer {
  width: 175px;
  height: 39px;
  position: relative;
  font-size: var(--font-size-base);
}
.rewardList {
  width: 319.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.rewardName1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.rewardNameParent,
.x31 {
  display: flex;
  align-items: flex-end;
}
.x31 {
  width: 15px;
  position: relative;
  text-transform: uppercase;
  min-width: 15px;
  z-index: 2;
}
.rewardNameParent {
  width: 62px;
  flex-direction: column;
  justify-content: flex-start;
}
.frameChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem {
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: var(--br-5xs);
  width: 58px;
  height: 33px;
  object-fit: contain;
  z-index: 1;
}
.vectorParent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.firstKill {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameGroup {
  width: 243px;
  align-items: flex-start;
  padding: var(--padding-base-5) var(--padding-lg) var(--padding-lg)
    var(--padding-52xl);
  position: relative;
  gap: var(--gap-xs-5);
}
.frameParent {
  width: 384px;
  flex-shrink: 0;
  align-items: flex-end;
  padding: 0 var(--padding-7xl) 0 0;
  gap: var(--gap-5xs);
}
.rewardName2 {
  align-self: stretch;
  position: relative;
}
.x32 {
  width: 13px;
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 13px;
}
.frameWrapper,
.rewardNameGroup {
  display: flex;
  justify-content: flex-start;
}
.rewardNameGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0.5;
  z-index: 1;
}
.frameWrapper {
  width: 78px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.frameInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon {
  position: absolute;
  top: 8px;
  left: 7.8px;
  border-radius: var(--br-5xs);
  width: 58px;
  height: 33px;
  object-fit: contain;
  z-index: 1;
}
.vectorGroup {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.winAMatch {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-200);
  z-index: 1;
}
.frameDiv,
.frameParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent1 {
  width: 280.8px;
  align-items: flex-start;
  padding: var(--padding-base-5) var(--padding-lg) var(--padding-lg)
    var(--padding-42xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs-5);
}
.frameDiv {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-5xs);
  min-width: 233px;
  max-width: 100%;
}
.frameContainer,
.frameWrapper1,
.rewardsContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper1 {
  flex-direction: column;
  padding: var(--padding-18xl) 0 0;
  box-sizing: border-box;
  min-width: 338px;
}
.frameContainer,
.rewardsContent {
  width: 708px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-xs);
}
.rewardsContent {
  margin-left: -164.5px;
  width: 1604.5px;
  overflow-x: auto;
  gap: var(--gap-172xl);
  max-width: 112%;
  text-align: right;
  font-size: var(--font-size-6xs);
  color: var(--color-white);
  font-family: var(--font-abel);
}
@media screen and (max-width: 1300px) {
  .rewardsContent {
    gap: var(--gap-76xl);
  }
}
@media screen and (max-width: 800px) {
  .frameWrapper1 {
    flex: 1;
  }
  .frameContainer {
    flex-wrap: wrap;
  }
  .rewardsContent {
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 450px) {
  .referAFriend {
    font-size: var(--font-size-base);
  }
  .rewardItem {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .firstKill,
  .winAMatch {
    font-size: var(--font-size-base);
  }
  .frameParent1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameWrapper1 {
    min-width: 100%;
  }
  .rewardsContent {
    gap: var(--gap-5xl);
  }
}
